<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salonniere</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
    
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Salonniere </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="active" role="presentation">
                                <a href="#"> </a>
                            </li>
                        </ul>
                        <p class="navbar-text navbar-right"><a class="navbar-link login" href="#">Log In</a> <a class="btn btn-default action-button" role="button" href="#">Sign Up</a></p>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                        <h1>Smart Event Planning</h1>
                        <p>Salonniere is an intelligent event planner. She helps you organize your event, invite your guests, and run your event. Focus on the fun stuff - we'll take care of the rest.</p>
                        <a class="btn btn-default btn-lg action-button" href="https://www.facebook.com/SalonniereAI/">Meet Salonniere</a>
                    </div>
                    <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm phone-holder">
                        <div class="iphone-mockup"><img src="{{ url_for('static', filename='img/iphone.svg') }}" class="device">
                            <div class="screen"><img src="{{ url_for('static', filename='img/14895553_10209290243951389_102422090_o.jpg') }}" width="262" height="462"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="intro">
                        <h2>Plan, Invite, Party!</h2>
                        <p>From choosing a venue to bringing everyone on board, Salonniere is here to make planning any event extremely easy. Focus on the fun!</p><a class="btn btn-primary" role="button" href="https://www.facebook.com/SalonniereAI/">Talk to Salonniere</a></div>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <div class="iphone-mockup"><img src="{{ url_for('static', filename='img/iphone.svg') }}" class="device">
                        <div class="screen"><img src="{{ url_for('static', filename='img/14895553_10209290243951389_102422090_o.jpg') }}" width="227" height="430"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center">Salonniere helps you plan kick-ass events.</p>
            </div>
            <div class="row features">
                <div class="col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 item"><i class="material-icons icon">restaurant_menu</i>
                    <h3 class="name">Venue Selection</h3>
                    <p class="description">Salonniere works with you to figure out how to get the perfect location for your event.</p>
                </div>
                <div class="col-md-4 col-sm-4 item"><i class="glyphicon glyphicon-list-alt icon"></i>
                    <h3 class="name">Guest Invitations</h3>
                    <p class="description">Salonniere sends beautiful, elegant inivitations to your guests. After you finish planning with Salonniere, she handles the rest - any questions, payments, or suggestions,.</p>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-4 item"><i class="glyphicon glyphicon-leaf icon"></i>
                    <h3 class="name">Organic Interactions</h3>
                    <p class="description">Salonniere uses Wit.ai to converse with you and guests in a natural, organic manner.</p>
                </div>
                <div class="col-md-4 col-sm-4 item"><i class="material-icons icon">people</i>
                    <h3 class="name">Centralized Chat</h3>
                    <p class="description">Salonniere is your go-to for any announcements or questions you have for your guests, either before , during, or after your event.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Subscribe for our Newsletter</h2>
                <p class="text-center">Interested in joining our beta? Subscribe to our newsletter to receive the latest updates on Salonniere.</p>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Your Email">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Subscribe </button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h3>Salonniere </h3>
                        <p>Created by Ted Xiao, Gauthm Kesineni, and Jin Park for the UC Bekreley AI Chatbot Competition in Fall 2016.</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>Source </h3>
                        <ul>
                            <li><a href="#">Coming Soon...</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>About</h3>
                        <ul>
                            <li></li>
                            <li><a href="#">Team</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-4 item social"><a href="https://www.facebook.com/SalonniereAI/"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-github-outline"></i></a></div>
                </div>
                <p class="copyright">Salonniere © 2016</p>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>